@use "SASS/mixins" as m;
@use "SASS/components";
@use "SASS/estilos";
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

$cardColor: rgb(255, 207, 159);
$textCard: black;
$cardShadow: (inset 0 0 2rem black);

.cartas {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 23.5rem), 1fr));
}
.precio-botones {
  width: 100%;
}
.card {
  padding-bottom: 2rem;
  font-size: 20px;
  background-color: $cardColor;
  box-shadow: $cardShadow;
  color: $textCard;
  border-radius: 1rem;
  border: none;
}

.card img {
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.read-the-docs {
  color: #888;
}

.section:nth-child(1) {
  align-self: left;
}

.section {
  align-items: center;
}

.card-left,
.card-right {
  width: 70%;
  min-width: 50rem;
}
.card-right {
  align-self: flex-start;
}

.image img {
  width: 35rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px black;
  position: relative;
}
.carousel-item {
  .cartas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    min-width: 35rem;
  }
  section {
    height: auto;
    background-color: black;
  }
}

.item-car {
  box-shadow: $cardShadow;
  border-radius: 1rem;
  padding-right: 2rem;
  display: flex;
  gap: 1rem;
  background-color: $cardColor;
  justify-content: space-evenly;
  .caracteristicas {
    color: $textCard;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h3 {
      font-size: 20px;
    }
    #titulo {
      font-weight: 800;
      font-size: 30px;
    }
    ul {
      font-size: 18px;
      box-shadow: $cardShadow;
      border-radius: 3rem;
      padding: 2rem;
      list-style: none;
      text-align: left;
    }
  }
}
#precio {
  color: green;
  font-size: 3rem;
}
.boton-carrito,
.boton-detalles {
  font-weight: 700;
  border: none;
  transition: 0.4s;
  height: 100%;
  &:hover {
    box-shadow: 0 0 8px $textCard;
  }
}
.boton-carrito {
  background-color: rgb(7, 90, 7);
}
.boton-detalles {
  background-color: rgb(72, 72, 72);
}
.botones {
  display: flex;
  gap: 1rem;
}
header {
  margin-top: auto;
  padding: 1rem;
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid white;

  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    li {
      a {
        font-size: 2rem;
        font-family: "Amatic SC", cursive;
        color: white;
        width: 19rem;
        &:hover {
          color: white;
        }
      }
    }
  }
  .logo-nombre {
    display: flex;
    justify-content: center;
    #nombre {
      span {
        font-family: "Amatic SC", cursive;
      }
      font-size: 6rem;
      display: flex;
      flex-direction: column;
      color: black;
      text-shadow: 0 0 5px white;
      justify-content: center;
      border-radius: 50%;
      padding: 1.5rem;
      background-image: url("https://u-static.fotor.com/images/text-to-image/result/PRO-cc9410203b23416486cf32dfa622245f.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: inset 0px 0px 30px black;
    }
  }
}
#search {
  width: 100%;
  display: flex;
  gap: 1rem;
  i {
    padding: 1rem;
    border-radius: 50%;
    border-left: 1px solid black;
    color: white;
    background-color: #3b3b3b;
    font-size: 25px;
    cursor: pointer;
  }
  input {
    outline: none;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 25px;
    color: grey;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 0 15px white;
    }
    &:focus {
      background-color: white;
      box-shadow: 0 0 10px white, inset 0 0 15px green;
    }
  }
}

.prenda {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: white;
  .imagenes {
    padding: 1rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .image {
      border-radius: 50%;
      width: 8rem;
      cursor: pointer;
      transition: 0.4s;
      &:hover {
        box-shadow: 0 0 15px white;
      }
    }
  }
  .caracteristicas {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    background-color: rgb(255, 207, 159);
    color: black;
    box-shadow: inset 0 0 110px 0 #0c0c0c;
    padding: 2rem 1rem;
    border-radius: 1rem;
  }
  .boton-carrito {
    width: 80%;
  }
  h3 {
    font-size: 20px;
    margin: 0;
  }
  #titulo {
    font-weight: 800;
    font-size: 30px;
  }
  ul {
    font-size: 20px;
    box-shadow: $cardShadow;
    border-radius: 2rem;
    padding: 1rem;
    list-style: none;
    text-align: center;
    li {
      font-weight: 800;
    }
  }
  img {
    cursor: none;
    width: 40rem;
    border-radius: 1rem;
  }
}
.zoom-container {
  position: relative;
  display: inline-block;
}

.zoom-image {
  display: block;
}

.zoom-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  /* Ajusta el ancho de la lupa según tus necesidades */
  height: 150px;
  /* Ajusta la altura de la lupa según tus necesidades */
  border: 2px solid #000;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  transition: opacity 0.3s ease;
}

@media (max-width: 1030px) {
  header {
    flex-direction: column;
    .logo-nombre {
      order: -1;
    }
  }
  .prenda {
    flex-direction: column;
    .imagenes {
      flex-direction: row;
    }
    .caracteristicas {
      padding: 2rem;
    }
  }
  .item-car {
    img {
      width: 100%;
    }
  }
}
@media (max-width: 768px) {
  .item-car {
    flex-direction: column;
    padding: 0 0 2rem 0;
    .caracteristicas {
      ul {
        text-align: center;
        margin: 0 1rem;
      }
    }
  }
  .botones {
    flex-direction: column;
    margin: 0 2rem;
  }
  .card-left,
  .card-right {
    min-width: 30rem;
  }
  footer {
    flex-direction: column;
  }
}

#autenticacion {
  box-shadow: $cardShadow;
  margin: auto;
  width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: $cardColor;
  div {
    display: flex;
    flex-direction: column;
  }
  label {
    font-size: 20px;
    align-self: flex-start;
  }
  input {
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    &::placeholder {
      color: white;
    }
  }
  .botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    .principal {
      padding: 1rem;
    }
    button,
    a {
      font-weight: 700;
      border: none;
    }
  }
}

footer {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid white;
  color: white;
  div {
    display: flex;
    gap: 1rem;
    font-size: 20px;
  }
  i {
    color: white;
    font-size: 25px;
  }
  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;

    .bi-whatsapp {
      @include m.iconsFooter(green);
    }
    .bi-facebook {
      @include m.iconsFooter(rgb(49, 49, 247));
    }
    .bi-twitter {
      @include m.iconsFooter();
    }
    .bi-instagram {
      @include m.iconsFooter(rgb(223, 68, 153));
    }
  }
  .nav-link {
    color: white;
  }
}
