.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartas section {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  background: rgb(150, 96, 73);
}

section span {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}

* {
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
}