@mixin iconsFooter($color: rgb(19, 139, 195)) {
  padding: 0.8rem 1rem;
  border-radius: 50%;
  transition: 0.4s;
  &:hover {
    background-color: $color;
  }
}
@mixin cardsCarousel($flexPosition) {
  width: 70%;
  min-width: 50rem;
  align-self: $flexPosition;
}
@mixin botonCarrito($backgroundColor, $textCard) {
  font-weight: 700;
  border: none;
  transition: 0.4s;
  height: 100%;
  background-color: $backgroundColor;
  &:hover {
    box-shadow: 0 0 8px $textCard;
  }
}
